<!--SECCIÓN SOBRE MÍ-->
<section id="sobremi">
    <div class="contenedor-foto">
      <img src="./assets/img/yo.jpg" alt=""> 
    </div>
    <div class="sobremi">
      <p class="titulo-seccion">About Me</p>
      <h2>Hello, i'm <span>Brenda Comas</span></h2>
      <h3>FrontEnd Developer</h3>
      <p>Hey world! I am a self-taught student of Web Development focused on Frontend programming.
        I aspire to get a job in the world of Web Development, gain experience, new knowledge and strengthen my professional life.
        </p>
         <p>
          I am an empathetic and enthusiastic person, with skills focused on teamwork, 
          assertive communication, problem solving, responsible and proactive,
           I like to learn from others and continually improve myself.</p>
         <a href="./assets/doc/document.pdf">Download Resume</a>
    </div>
  </section>
    <!-- Formación -->
    <section class="formacion" id="formacion">
        <h1 data-section="formacion" data-value="title">TRAINING</h1>

        <div class="cards_container--formacion">
            <div class="cards--formacion" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
                <img class="logo-ticmas" src="./assets/img/LogoTicmas.jpg" alt="Logo - TICMAS">
                <div class="container_texto--formacion">
                    <p data-section="formacion" data-value="formacion1">First steps of FrontEnd development</p>
                    <p data-section="formacion" data-value="tiempo-formacion1">Finalized</p>
                </div>
            </div>

            <div class="cards--formacion" data-aos="fade-up" data-aos-duration="500">
                <img class="logo-argp" src="./assets/img/argP.png" alt="ARG P">
                <div class="container_texto--formacion">
                    <p data-section="formacion" data-value="formacion2">Software developer Full-Stack</p>
                    <p data-section="formacion" data-value="tiempo-formacion2">In progress</p>
                </div>
            </div>

            <div class="cards--formacion" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
                <img class="logo-ob" src="./assets/img/openB.jpg" alt="Logo - SENA">
                <div class="container_texto--formacion">
                    <p data-section="formacion" data-value="formacion3">Frontend development and Java</p>
                    <p>In progress</p>
                </div>
            </div>
        </div>
    </section>
