   <!-- SECCION CONTACTO-->
   <section id="contacto">
    <h3 class="titulo-seccion">Contact me now</h3>
    <div class="contenedor-form">
      <form action="">
        <div class="fila mitad">
          <input type="text" placeholder="Name" class="input-mitad">
          <input type="text" placeholder="Email" class="input-mitad">
        </div>
        <div class="fila">
          <input type="text" placeholder="Issue..." class="input-full">
        </div>
        <div class="fila">
          <textarea name="" id="" cols="30" rows="10" placeholder="Your Message..." class="input-full"></textarea>

        </div>
        <input type="submit" value="Send" class="btn-enviar">
      
      </form>
      
    </div>
    
   </section>
   <!--SECCION FOOTER-->
   <footer>
    
     
    <p>© ALL RIGHTS RESERVED -2023</p>
    <div class="redes">
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-telegram"></i></a>

    </div>

     
   </footer>