<section id="servicios">
  <h3 class="titulo-seccion">My Services</h3>
  <div class="fila">
  <div class="servicio">
    <span class="icono"><i class="fa-solid fa-code"></i></span>
    <h4>Diseños de Sitios Web</h4>
    <hr>
    <ul class="servicios-tag">
      <li>Web</li>
      <li>Graphic</li>
      <li>SEO</li>
    </ul>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
      Eaque ex quam ullam iste laborum, pariatur repudiandae ea deserunt autem explicabo enim.</P>
  </div>
  <div class="servicio">
    <span class="icono"><i class="fa-solid fa-code"></i></span>
    <h4>Diseños de Sitios Web</h4>
    <hr>
    <ul class="servicios-tag">
      <li>Web</li>
      <li>Graphic</li>
      <li>SEO</li>
    </ul>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
      Eaque ex quam ullam iste laborum, pariatur repudiandae ea deserunt autem explicabo enim.</P>
  </div>
  <div class="servicio">
    <span class="icono"><i class="fa-solid fa-code"></i></span>
    <h4>Diseños de Sitios Web</h4>
    <hr>
    <ul class="servicios-tag">
      <li>Web</li>
      <li>Graphic</li>
      <li>SEO</li>
    </ul>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
      Eaque ex quam ullam iste laborum, pariatur repudiandae ea deserunt autem explicabo enim.</P>
  </div>
  </div>
  <div class="fila">
    <div class="servicio">
      <span class="icono"><i class="fa-solid fa-code"></i></span>
      <h4>Diseños de Sitios Web</h4>
      <hr>
      <ul class="servicios-tag">
        <li>Web</li>
        <li>Graphic</li>
        <li>SEO</li>
      </ul>
      <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Eaque ex quam ullam iste laborum, pariatur repudiandae ea deserunt autem explicabo enim.</P>
    </div>
    <div class="servicio">
      <span class="icono"><i class="fa-solid fa-code"></i></span>
      <h4>Diseños de Sitios Web</h4>
      <hr>
      <ul class="servicios-tag">
        <li>Web</li>
        <li>Graphic</li>
        <li>SEO</li>
      </ul>
      <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Eaque ex quam ullam iste laborum, pariatur repudiandae ea deserunt autem explicabo enim.</P>
    </div>
    <div class="servicio">
      <span class="icono"><i class="fa-solid fa-code"></i></span>
      <h4>Diseños de Sitios Web</h4>
      <hr>
      <ul class="servicios-tag">
        <li>Web</li>
        <li>Graphic</li>
        <li>SEO</li>
      </ul>
      <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Eaque ex quam ullam iste laborum, pariatur repudiandae ea deserunt autem explicabo enim.</P>
    </div>
    </div>

</section>
 <!--SECCION HABILIDADES-->
   <div class="contenedor-skills" id="skills">
    <h3>SKILLS</h3>
    <div class="skill">
      <div class="info">
        <p><span class ="lista"></span>Html & Css</p>
        <span class="porcentaje">95%</span>
      </div>
      <div class="barra">
        <div id ="html" class=""></div>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <p><span class ="lista"></span>Javascript</p>
        <span class="porcentaje">90%</span>
      </div>
      <div class="barra">
        <div id ="js" class=""></div>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <p><span class ="lista"></span>Base de Datos</p>
        <span class="porcentaje">95%</span>
      </div>
      <div class="barra">
        <div id ="bd" class=""></div>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <p><span class ="lista"></span>Angular</p>
        <span class="porcentaje">85%</span>
      </div>
      <div class="barra">
        <div id ="ps" class=""></div>
      </div>
    </div>
   </div>
   <!--SECCION PORTAFOLIO-->
   <section id="portfolio">
    <h3 class="titulo-seccion">MIS PROYECTOS</h3>
    <div class="fila">
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/1.jpg" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/2.jpg" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/3.jpg" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
    </div>
    <div class="fila">
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/4.jpg" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/5.png" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/6.png" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
    </div>
    <div class="fila">
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/7.png" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/8.png" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/9.jpg" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
    </div>
   </section>
   <!-- SECCION CONTACTO-->
   <section id="contacto">
    <h3 class="titulo-seccion">Contact me now</h3>
    <div class="contenedor-form">
      <form action="">
        <div class="fila mitad">
          <input type="text" placeholder="Name" class="input-mitad">
          <input type="text" placeholder="Email" class="input-mitad">
        </div>
        <div class="fila">
          <input type="text" placeholder="Issue..." class="input-full">
        </div>
        <div class="fila">
          <textarea name="" id="" cols="30" rows="10" placeholder="Your Message..." class="input-full"></textarea>

        </div>
        <input type="submit" value="Send" class="btn-enviar">
      
      </form>
      
    </div>
    
   </section>
   <!--SECCION FOOTER-->
   <footer>
    
     
    <p>© ALL RIGHTS RESERVED -2023</p>
    <div class="redes">
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>

    </div>

     
   </footer>
   
   
  

  
