
 <!--SECCION HABILIDADES-->
   <div class="contenedor-skills" id="skills">
    <h3>SKILLS</h3>
    <div class="skill">
      <div class="info">
        <p><span class ="lista"></span>Html & Css</p>
        <span class="porcentaje">95%</span>
      </div>
      <div class="barra">
        <div id ="html" class=""></div>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <p><span class ="lista"></span>Javascript</p>
        <span class="porcentaje">90%</span>
      </div>
      <div class="barra">
        <div id ="js" class=""></div>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <p><span class ="lista"></span>Base de Datos</p>
        <span class="porcentaje">95%</span>
      </div>
      <div class="barra">
        <div id ="bd" class=""></div>
      </div>
    </div>
    <div class="skill">
      <div class="info">
        <p><span class ="lista"></span>Angular</p>
        <span class="porcentaje">85%</span>
      </div>
      <div class="barra">
        <div id ="ps" class=""></div>
      </div>
    </div>
   </div>
   <!--SECCION PORTAFOLIO-->
   <section id="portfolio">
    <h3 class="titulo-seccion">MY PROJECTS</h3>
    <div class="fila">
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/1.jpg" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/2.jpg" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      </div>
      <div class="proyecto">
        <div class="overlay"></div>
        <img src="./assets/img/3.jpg" alt="">
        <div class="info">
          <h4>Descripción del Proyecto</h4>
          <p>Diseño Web</p>
        </div>
      
      </div>
    
    </div>
   </section>

   
   
  

  
